.require {
  color: #666;
}
label small {
  color: #999;
  font-weight: normal;
}
.container {
  margin-top: 50px;
}
.row {
  /*background-color: #cacaca;*/
}
button.btn.btn-primary {
  margin-right: 5px;
}
button.btn.btn-default {
  margin-left: 5px;
}
